/* Select all spans that are immediate children of buttons */
button > span {
    font-size: 2.5rem;
}

.btn {
    
}

#footer{
    background-color: #2d2926;
    color: lightgray;
    border-top: solid;
    border-top-color: lightgrey;
    border-top-width: thin;
}

